@import "variables";

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $color-black; // Used for border and nav menu
}

app-root {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-rows: auto minmax(0, 1fr) $size-lg;
  grid-template-columns: auto 1fr $size-lg;

  grid-template-areas:
    'sidenav top top'
    'sidenav content gutter'
    'sidenav bot bot';
}

header {
  grid-area: top;
  margin: $size-lg $size-lg $size-lg 0;
}

main {
  background-color: $color-background-main;
  grid-area: content;
  border-radius: $size-md;
  overflow: auto;
  padding: $size-lg;
}