$size-xs: 2px;
$size-sm: $size-xs * 2; //4px
$size-md: $size-sm * 2; //8px
$size-lg: $size-md * 2; //16px
$size-xl: $size-lg * 2; //32px
$size-xxl: $size-xl * 2; //64px

$color-primary: #8dc63f;
$color-secondary: #717174;

$color-white: #fff;
$color-black: #000;

$color-background-main: #f3f3f3;
$color-background-content: $color-white;
$color-disabled-background: #ddd;

$font-family-header: 'Roboto', sans-serif;
$font-family-body: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-header1: 32px;
$font-size-header2: 20px;
$font-size-header3: 18px;
$font-size-body: 16px;
$font-size-small: 14px;

$letter-spacing-header1: 1.5px;
$letter-spacing-header2: 1.5px;
$letter-spacing-header3: 0;
$letter-spacing-body: 0;
